.top-margin {
    margin: 20px auto;
}




.container {
    width: 500px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #ccc;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 30px;
    border-radius: 15px;
}


input.ng-dirty.ng-valid {
    background-color: lawngreen;
}

input.ng-dirty.ng-invalid-email{
    background-color: red;
}

.save-btn {
    padding: 3px 12px;
    margin-top: -3px;
    background-color: #DE6929;
    border: 1px solid #DE6929;
}

.success{
    color: #42f45f;
    font-size: 12px;
}

.warning{
    color: red;
    font-size: 12px;

}

 p {
    margin: 0px;
}

.select-margin{
    margin-left: 26.5%;
}

label{
    font-size: 1.1em;
}

.container-width{
    max-width: 1024px;
}

.select-height{
    height: 50px !important;
    width: 100%;
}
